.container {
    width: 1000px; 
    margin: 0 auto; 
    background-color: whitesmoke;
    padding: 10px;
}
.container p {
    padding-left: 20px;
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
}
.flex { 
    display: flex;
    margin-bottom: 50px;
    padding: 20px 10px;
    border-bottom: 1px solid #BCBCBC;
}
.item { 
    width:100px; 
    background-color: darkcyan; 
    height: 100px; 
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}